.modal {
  display: initial;
}

.modal.active {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.template {
  position: fixed;
  display: flex;
  box-shadow: 0 0 0 3px rgba(77, 76, 76, 0.5);
  height: 910px;
  width: 800px;
  transform: scale(30%);
  left: 50%;
  top: 0%;
  cursor: pointer;
  font-family: "Arimo";
  word-wrap: break-word;
}

.template.active {
  position: initial;
  transform: scale(100%);
  margin: 10% auto;
  height: 910px;
  width: 800px;
  z-index: 1000;
}

.leftTempContainer {
  position: relative;
  border: 1px solid black;
  width: 30%;
  flex-wrap: wrap;
  background-color: #eee6e7;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leftTempContainer > .tempPhoto {
  border: 1px solid black;
  height: 150px;
  width: 150px;
  border-radius: 2;
  margin: auto;
  margin-top: 42px;
}

.tempPhoto > img {
  height: 100%;
  width: 100%;
}

.tempNameContainer {
  font-family: "Arimo";
  padding: 27px 0 10px 0;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.tempProfession {
  font-family: "Arimo";
  padding: 15px 0 10px 0;
  text-align: center;
  font-weight: bolder;
  font-size: 17px;
}

.tempContactContainer {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  width: 90%;
  height: 25%;
  border-radius: 2;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
}

.tempContactHeader {
  margin-bottom: 20px;
  font-size: 25px;
  border-bottom: 1px solid rgb(187, 184, 184);
  padding-bottom: 11px;
}

.tempContactContainer > div {
  margin: 0 0 5px 0;
  font-weight: normal;
}

.rightTempContainer {
  border: 1px solid black;
  width: max-content;
  width: 70%;
  background-color: white;
  padding: 20px;
}

.rightTempContainer > h3 {
  background-color: #eee6e7;
  padding: 5px 0 5px 2px;
  margin-top: 20px;
}

.rightTempContainer > .tempExperienceContainer {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 12px;
  padding: 0 5px 5px 5px;
}

.tempExperience {
  margin-top: 16px;
}

.tempPairContainer {
  display: grid;
  grid-template-columns: 300px 200px;
}

.tempPairContainer > h3 {
  font-size: 14px;
  margin: 7px 0 2px 0;
}

.tempExperience > h3 {
  font-size: 14px;
  margin-top: 5px;
}

.rightTempContainer > .tempEducationContainer {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 12px;
  padding: 0 5px 5px 5px;
}

.tempEducation > h3 {
  font-size: 14px;
  margin-top: 5px;
}

.tempPairContainer > h3 {
  font-size: 14px;
  margin: 7px 0 2px 0;
}

.rightTempContainer > .tempSkillsContainer {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 12px;
  padding: 0 5px 5px 5px;
}

.tempSkills > h3 {
  font-size: 14px;
  margin-top: 5px;
  font-size: 14px;
  margin: 7px 0 2px 0;
}

.printBtn {
  display: none;
}

.printBtn.active {
  display: initial;
  position: absolute;
  padding: 10px 20px 10px 20px;
  top: 10%;
  left: 47%;
  border: 3px solid black;
  letter-spacing: 2px;
}
