.educationContainer {
  width: 700px;
  padding: 10px;
  font-family: "Arimo";
  margin-bottom: 50px;
}

.experienceContainer > button {
  font-size: 23px;
  color: white;
  border-radius: 2px;
  background-color: #f54e42;
  border: none;
  cursor: pointer;
  padding: 6px 25px 6px 25px;
}

.educationContainer > h3 {
  font-size: 25px;
  color: #f54e42;
  margin-bottom: 15px;
}

.educationContainer > button {
  font-size: 23px;
  color: white;
  border-radius: 2px;
  background-color: #f54e42;
  border: none;
  cursor: pointer;
  padding: 6px 25px 6px 25px;
  margin-top: 23px;
  margin-right: 30px;
  font-weight: bolder;
}

.educationContainer > button:hover {
  color: #68fafa;
}

.educationForm > label {
  display: block;
  font-weight: bolder;
  padding: 5px 0 5px 0;
  opacity: 0.7;
  font-size: 13px;
  margin: 23px 0 0 0;
}

.educationForm > input {
  height: 40px;
  width: 600px;
  padding: 6px;
  font-size: 15px;
  border-radius: 3px;
  border: 1px solid #f54e42;
}

.toDateEdu {
  margin-bottom: 50px;
}
